.comentarios {
    background-color: $color-negro;

    .ui-status { 
        display: none; 
    }

    &.empty {
        .ui-status.empty { 
            display: block; 

            .contenedor {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &.loading {
        .ui-status.loading { display: block; }
    }

    &.error {
        .ui-status.error { display: block; }
    }

    &.ideal {
        .ui-status.ideal { 
            display: block;
            background-color: $color-negro;

            .contenedor {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &.loading, &.error {
        font-size: $font-size-large;
        text-align: center;
        padding: 30px;
    }

    .borde {
        border: 2px solid $color-principal;
        border-radius: 15px;
    }

    .mostrar {
        padding: 15px;
        margin: 25px 0px;
        color: $color-blanco;

        @include desktop {
            margin: 25px 40px;
        }
    }

    .input-error {
        border: 4px solid $color-error;
    }

    .error {
        color: $color-error;
    }
}

.cabecera-comentarios {
    color: $color-blanco;
    padding: 10px 10px;

    @include desktop {
        margin-left: 44px;
    }
}

.coments {
    @include desktop {
        padding: 0 40px;
    }

    .mostrar-comentarios-enviados {
        display: flex;
        flex-direction: column;
        border-top: 2px solid $color-principal;
        padding: 10px 0;
        color: $color-blanco;

        @include tablet {
            flex-direction: row;
            padding: 10px 5px;
        }

        .datos-persona {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding: 10px 5px;

            @include tablet {
                width: 30%;
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        .comentario-persona {
            width: 100%;
            padding: 5px;
            text-align: justify;

            @include tablet {
                width: 70%;
                margin-left: 20px;
            }
        }
    }
}