.section-detalle {
    background-color: $color-principal-claro;

    .recuadro {
        background-color: #ccc;
        padding: 0 10px;

        @include desktop {
            margin-top: 70px;
        }
    }

    .titulo-seccion {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px;
        transition: all 0.30s linear;
        @include desktop {
            padding: 20px;
            transition: all 0.30s linear;
        }
    }

    .container-detalles {
        display: flex;
        flex-direction: column;


        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            padding: 10px 10px;
        } 

        .media {
            padding: 0 2px;
            
            @include tablet {
                padding: 0 10px 0 0;
            }

            img {
                width: 100%;
                height: auto;
                border: 2px solid $color-accento;


            }
        }

        .explicacion {
            text-align: justify;
            padding: 15px 5px;

            @include tablet {
                padding: 0 0 0 10px;
            }

            p {
                margin-top: 10px;
            }

            a{
                color: $color-blanco;
                transition: color 0.25s linear;

                &:hover, &:active {
                    color: $color-accento;
                    transition: color 0.25s linear;
                }
            }

            .subtitulo {
                text-align: center;
                margin-bottom: 10px;
                font-weight: bold;
            }


        }
    }

}

