.footer {
    background-color: $color-principal;
    text-align: center;
    height: 80px;
    padding: 20px;

    .copyright {
        text-decoration: none;
        color: $color-blanco;
        transition: all 0.25s linear;

        &:active {
            color: darken($color-accento, 15%);
            transition: all 0.25s linear;
        }

        @include desktop {
            &:hover {
                color: darken($color-accento, 15%);
                transition: all 0.25s linear;
            }
        }
    }
}