.paginacion {
    display: block;
    text-align: center;
    margin: 10px;
    color: $color-blanco;

    .pagina {
        color: $color-blanco;
        text-decoration: none;
        transition: all 0.25s linear;

        &:active {
            color: $color-accento;
            transition: all 0.25s linear;
        }

        &:hover {
            color: $color-accento;
            transition: all 0.25s linear;
        }
    }
}