section {
    width: 100vw;
    max-width: 1300px;
}

.ui-estado {
    color: $color-principal-claro;
}

.articulos {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.categoria {
    padding: 0 0px;

    .titulo-categoria {
        text-align: center;
        color: $texto-claro;
        padding: 15px 0;
        background-color: $color-oscuro;
        margin: 2px 1px 0 1px;

        @include desktop {
            margin-top: 70px;
        }
    }

    .articulo {
        margin: 1px;
        border: 2px solid $color-principal;
        padding: 0px;
        width: 100%;
        min-height: 244px;
        background-color: $color-principal-claro;
        color: $texto-oscuro;
        overflow: hidden;

        @include tablet {
            width: calc((100% / 3) - 2px);
            padding: 0px;
            min-height: 350px;
        }

        @include desktop {
            width: calc((100% / 5) - 2px);
            padding: 0px;
            min-height: 380px;
        }

        .quien-publica {
            display: flex;
            padding: 5px;
            
            .datos-publicador {
                padding: 0 5px;
                align-self: center;

                .fecha-publicacion {
                    font-size: $font-size-small;
                }
            }
        }

        .comentarios {
            padding: 0 5px;
        }

        .foto-articulo {
            width: 100%;
            height: auto;
        }

        .titulo-articulo {
            padding: 0 5px;
        }

        .descripcion-articulo {
            margin-top: 5px;
            text-align: justify;
            padding: 5px;
        }

        .megusta {
            display: block;
            margin: 10px auto 15px;

            .fa-star {
                color: yellow;
            }
        }
    }
}

.categoria2 {
    background-color: lightcoral;
}

.categoria3 {
    background-color: lightcyan;
}

.categoria4 {
    background-color: lightgreen;
}

.categoria5 {
    background-color: lightseagreen;
}