<form action="" class="comentarios-form">

    <div class="ui-status error">Error al enviar</div>

    <div class="ui-status loading">Enviando...</div>

    <div class="ui-status ideal">

        <div class="agrupacion-inputs">
            <label for="nombre-form">Nombre: </label>
            <input type="text" name="nombre-form" id="nombre-form">
        
            <label for="apellidos-form">Apellidos: </label>
            <input type="text" name="apellidos-form" id="apellidos-form">    
        
            <label for="email-form">E-mail: </label>
            <input type="email" name="email-form" id="email-form">
        </div>
        <div class="agrupacion-inputs">
            <label for="comentario-form">Comentario: </label>
            <textarea id="comentario-form" name="comentario-form"></textarea>
        </div>
        <div class="agrupacion-inputs">
            <button class="boton-form">Enviar comentario</button>
        </div>

    </div>

</form>