<section id="section-detalle" class="section-detalle">

    <div class="container-publicador recuadro">
        <div class="quien-publica">
            <img class="avatar" src="img/aina-avatar-32px.jpg" alt="avatar">
            <div class="datos-publicador">
                <p class="autor">David Serrano Jofra</p>
                <p class="fecha-publicacion">2017/08/07 23:41</p>
            </div> 
        </div>
        <a class="icono-coment ancla" href="#comentarios">
            <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
            <span class="num-comentarios">0</span>
        </a>
    </div>

    <h2 class="titulo-seccion">Yamaha YZF-R6</h2>

    <div class="container-detalles">
        
        <div class="media">
            <picture>
                <source srcset="img/R6-220px.jpg 220w, img/R6-318px.jpg 318w, img/R6-370px.jpg 370w, img/R6-675px.jpg 675w, img/R6-740px.jpg 740w, img/R6-1020px.jpg 1020w, img/R6-1250px.jpg 1250w, img/R6-1600px.jpg 1600w" media="(max-width: 666px)">
                <source srcset="img/R6-220px.jpg 220w, img/R6-370px.jpg 370w, img/R6-675px.jpg 675w" media="(max-width: 1023px)">
                <source srcset="img/R6-220px.jpg 220w, img/R6-370px.jpg 370w" media="(max-width: 1920px)">
                <img class="foto-articulo" src="img/R6-1600px.jpg" alt="MV Augusta F4 RR">
            </picture>
        </div>

        <div class="explicacion">
            <h4 class="subtitulo">Refinada. Rediseñada. Notable.</h4>
            <p>
                La <strong>YZF-R6</strong> es una <em>leyenda</em>. Tanto en carretera como en los circuitos, gracias a sus 3 títulos Supersport World de los últimos años. Una vuelta en esta moto de carreras nacida para MotoGP y querrás entrar en el impresionante mundo de Yamaha. ¡R WORLD!
            </p>
            <p>
                Ya está aquí la nueva <strong>YZF-R6</strong>, con una nueva carrocería de bajo coeficiente de arrastre y una <strong>imagen salvaje</strong> que hereda todas las características del <em>ADN de la serie R de Yamaha</em>.
            </p>
            <p>
                Y con su electrónica avanzada y una aerodinámica de alto nivel, la <strong>YZF-R6</strong> exhibe un rendimiento Supersport extremo con un control absoluto.
                Si quieres saber más entra en <a href="https://www.yamaha-motor.eu/es/products/motorcycles/supersport/yzf-r6.aspx">Yamaha YZF-R6</a>
            </p>
            <p>
                Yamaha ha cargado a la nueva YZF-R6 de materiales nobles como el magnesio, el titanio o el aluminio, que se distribuyen entre el subchasis, 
                el motor o el chasis entre otros, dando forma a una moto que destacará entre sus rivales por la tecnología con la que ha sido equipada.
                Un control de tracción de seis niveles de intervención, el cambio semiautomático ascendente o el ABS de competición son alguno de las joyas que la fábrica 
                japonesa ha regalado a la nueva Yamaha YZF-R6 2017.
                También cuenta con una centralita con diferentes modos de conducción, siendo tres las opciones -A, Standard y B- tal y como sucedía el 
                la anterior versión de la YZF-R1.
            </p>

            <button data-id="0" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
            
        </div>

    </div>
</section>