


<section class="comentarios loading">

    <div class="ui-status loading mostrar">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw" aria-hidden="true"></i>
        <br>
        Cargando... 
    </div>

    <div class="ui-status error mostrar">
        <h3 class="error">Se ha producido un Error al cargar los comentários</h3>
    </div>
    
    <div class="ui-status empty">
        
        <div class="mostrar">
            <h3>No existen comentários, se el primero en añadir uno!!!!</h3>
        </div>
        
        <form action="" class="comentarios-form">
            <div class="agrupacion-inputs">
                <label for="nombre-form">Nombre: </label>
                <input type="text" name="nombre-form" id="nombre-form">
            
                <label for="apellidos-form">Apellidos: </label>
                <input type="text" name="apellidos-form" id="apellidos-form">    
            
                <label for="email-form">E-mail: </label>
                <input type="email" name="email-form" id="email-form">
            </div>
            <div class="agrupacion-inputs">
                <label for="comentario-form">Comentario: </label>
                <textarea id="comentario-form" name="comentario-form"></textarea>
            </div>
            <div class="agrupacion-inputs">
                <button class="boton-form">Enviar comentario</button>
            </div>
        </form>

    </div>

    <div class="ui-status ideal">
       
        <div class="cabecera-comentarios">
            <h3>Deja tu mensaje:</h3>
        </div>

        <div class="coments"></div>
        
        <form action="" class="comentarios-form">
            <div class="agrupacion-inputs">
                <label for="nombre-form">Nombre: </label>
                <input type="text" name="nombre-form" id="nombre-form">
            
                <label for="apellidos-form">Apellidos: </label>
                <input type="text" name="apellidos-form" id="apellidos-form">    
            
                <label for="email-form">E-mail: </label>
                <input type="email" name="email-form" id="email-form">
            </div>
            <div class="agrupacion-inputs">
                <label for="comentario-form">Comentario: </label>
                <textarea id="comentario-form" name="comentario-form"></textarea>
            </div>
            <div class="agrupacion-inputs">
                <button class="boton-form">Enviar comentario</button>
            </div>
        </form>
    </div>

</section>