    
    <nav class="menu_navegacion" id="menu_navegacion" >

		<div class="" id="fueramenu"></div>

		<div class="logo">
            <h1 class="titulo">Título</h1>
		</div>
		
		<button class="hamburger hamburger--collapse navigacion_toggle" id="nav-toggle" type="button">
		  	<span class="hamburger-box">
			    <span class="hamburger-inner"></span>
			</span>
		</button>
		
		
		<ul id="abrir_cerrar" class="cerrado">

			<li><a class="boton_menu ancla" href="#servicios">Servicios</a></li>
			<li><a class="boton_menu ancla" href="#razones">5 Razones</a></li>
			<li><a class="boton_menu ancla" href="#equipo">Equipo</a></li>
			<li><a class="boton_menu ancla" href="#rendimiento">Alto Rendimiento</a></li>
			<li><a class="boton_menu ancla" href="#contacto">Contacto</a></li>
			<li><a class="boton_menu ancla" href="galeria.html">Multimedia</a></li>

		</ul>
		
	</nav>