<div class="paginacion">
    <!-- <a href="" class="pagina"> Atrás</a> | <a href="" class="pagina">Siguiente</a> -->


<div class="pagination-wrapper">
    <svg id="btn-atras" class="btn btn--prev" height="60" viewBox="0 0 24 24" width="60" xmlns="http://www.w3.org/2000/svg">
      <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
      <path d="M0-.5h24v24H0z" fill="none"/>
    </svg>
    
    <div class="pagination-container">
      <div class="little-dot  little-dot--first"></div>
      <div class="little-dot">
        <div class="big-dot-container">
          <div class="big-dot"><span class="numeracion">1</span></div>
        </div>
      </div>
      <div class="little-dot  little-dot--last"></div>
    </div>
    
    <svg id="btn-siguiente" class="btn btn--next" height="60" viewBox="0 0 24 24" width="60" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
      <path d="M0-.25h24v24H0z" fill="none"/>
    </svg>
</div>

</div>