
<section id="categoria1" class="categoria">
    <h2 class="titulo-categoria">Hi-Sport</h2>

    <div class="ui-estado ideal articulos">

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/aina-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">Aina Serrano</p>
                            <p class="fecha-publicacion">2017/08/31 13:19</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">3</span>
                    </a>
                </div>
                <div class="container-video">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/3Pq6K_uaUzw" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <a class="ir-detalle" href="detalle.html">
                        <h4 class="titulo-articulo">Yamaha R6 sport</h4>
                        <p class="descripcion-articulo">La YZF-R6 es una leyenda. Tanto en carretera como en los circuitos, gracias a sus 3 títulos Supersport World de los últimos años.</p>
                    </a>
                </div>
            </div>
            <button data-id="0" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

       <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/david-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">David Serrano Jofra</p>
                            <p class="fecha-publicacion">2017/08/23 13:19</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">5</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture class="foto-responsive">
                        <source srcset="img/kh2r-220px.jpg 220w, img/kh2r-318px.jpg 318w, img/kh2r-370px.jpg 370w, img/kh2r-675px.jpg 675w, img/kh2r-740px.jpg 740w, img/kh2r-1020px.jpg 1020w, img/kh2r-1250px.jpg 1250w, img/kh2r-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/kh2r-220px.jpg 220w, img/kh2r-370px.jpg 370w, img/kh2r-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/kh2r-220px.jpg 220w, img/kh2r-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/kh2r-1600px.jpg" alt="Kawasaki H2R">
                    </picture>
                    <h4 class="titulo-articulo">Kawasaki H2R</h4>
                    <p class="descripcion-articulo">
                        Creada para ser la máxima expresión en prestaciones en una motocicleta, la Ninja H2R es una
                        moto con un motor con compresor.
                    </p>
                </a>
            </div>
            <button data-id="1" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/aina-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">Aina Serrano</p>
                            <p class="fecha-publicacion">2017/08/17 18:52</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">1</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/R1-220px.jpg 220w, img/R1-318px.jpg 318w, img/R1-370px.jpg 370w, img/R1-675px.jpg 675w, img/R1-740px.jpg 740w, img/R1-1020px.jpg 1020w, img/R1-1250px.jpg 1250w, img/R1-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/R1-220px.jpg 220w, img/R1-370px.jpg 370w, img/R1-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/R1-220px.jpg 220w, img/R1-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/R1-1600px.jpg" alt="Yamaha YZF-R1">
                    </picture>
                    <h4 class="titulo-articulo">Yamaha YZF-R1</h4>
                    <p class="descripcion-articulo">
                        Con la tecnología crossplane de la YZR-M1 de MotoGP, un diseño de cigüeñal crossplane, una distancia reducida entre ejes y unos 
                        sofisticados controles electrónicos, se adapta a ti y lleva tu experiencia de conducción a un nuevo nivel.
                    </p>
                </a>
            </div>
            <button data-id="2" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/aina-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">Aina Serrano</p>
                            <p class="fecha-publicacion">2017/08/12 18:52</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">0</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/k1000-220px.jpg 220w, img/k1000-318px.jpg 318w, img/k1000-370px.jpg 370w, img/k1000-675px.jpg 675w, img/k1000-740px.jpg 740w, img/k1000-1020px.jpg 1020w, img/k1000-1250px.jpg 1250w, img/k1000-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/k1000-220px.jpg 220w, img/k1000-370px.jpg 370w, img/k1000-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/k1000-220px.jpg 220w, img/k1000-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/k1000-1600px.jpg" alt="Kawasaki ZX-10R">
                    </picture>
                    <h4 class="titulo-articulo">Kawasaki Ninja ZX-10R</h4>
                    <p class="descripcion-articulo">
                        Probada, refinada y aprobada por los campeones del mundo Jonathan Rea y Tom Sykes, es la más parecida a la que forma parte del equipo de Superbikes.
                        Ninja ZX-10R Get Closer.
                    </p>
                </a>
            </div>
            <button data-id="3" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <div class="datos-publicador">
                            <p class="autor">Anónimo</p>
                            <p class="fecha-publicacion">2017/08/19 18:52</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">9</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/gsx-r1000-220px.jpg 220w, img/gsx-r1000-318px.jpg 318w, img/gsx-r1000-370px.jpg 370w, img/gsx-r1000-675px.jpg 675w, img/gsx-r1000-740px.jpg 740w, img/gsx-r1000-1020px.jpg 1020w, img/gsx-r1000-1250px.jpg 1250w, img/gsx-r1000-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/gsx-r1000-220px.jpg 220w, img/gsx-r1000-370px.jpg 370w, img/gsx-r1000-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/gsx-r1000-220px.jpg 220w, img/gsx-r1000-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/gsx-r1000-1600px.jpg" alt="Suzuki GSX-R1000R">
                    </picture>
                    <h4 class="titulo-articulo">Suzuki GSX-R1000R</h4>
                    <p class="descripcion-articulo">
                        Te pondrá los pelos de punta. Solo con verla. O escucharla. Con una estética y un sonido inconfundibles que te harán sentir una emoción increíble.
                    </p>
                </a>
            </div>
            <button data-id="4" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <div class="datos-publicador">
                            <p class="autor">Anónimo</p>
                            <p class="fecha-publicacion">2017/08/18 17:52</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">6</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/bmw-s1000rr-220px.jpg 220w, img/bmw-s1000rr-318px.jpg 318w, img/bmw-s1000rr-370px.jpg 370w, img/bmw-s1000rr-675px.jpg 675w, img/bmw-s1000rr-740px.jpg 740w, img/bmw-s1000rr-1020px.jpg 1020w, img/bmw-s1000rr-1250px.jpg 1250w, img/bmw-s1000rr-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/bmw-s1000rr-220px.jpg 220w, img/bmw-s1000rr-370px.jpg 370w, img/bmw-s1000rr-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/bmw-s1000rr-220px.jpg 220w, img/bmw-s1000rr-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/bmw-s1000rr-1600px.jpg" alt="BMW S-1000RR">
                    </picture>
                    <h4 class="titulo-articulo">BMW S-1000RR</h4>
                    <p class="descripcion-articulo">
                        La BMW S 1000 RR 2017 se adapta a la homologación Euro 4 sin perder rendimiento. 
                        La renovación de la superdeportiva alemana llega además con mejor equipamiento de serie 
                        y nuevas combinaciones de color.
                    </p>
                </a>
            </div>
            <button data-id="5" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/david-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">David Serrano Jofra</p>
                            <p class="fecha-publicacion">2017/08/07 15:38</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">2</span>
                    </a>
                </div>
                <div class="container-video">
                    <div class="video-responsive">
                        <iframe src="https://www.youtube.com/embed/hyMpqcWJgxY" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <a class="ir-detalle" href="detalle.html">
                        <h4 class="titulo-articulo">Aprilia RSV4</h4>
                        <p class="descripcion-articulo">
                            El Aprilia Racing Team aplica la experiencia adquirida en las principales carreras del mundo para crear las nuevas 
                            versiones "Factory Works" de la galardonada Aprilia RSV4.
                        </p>
                    </a>
                </div>
            </div>
            <button data-id="6" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <div class="datos-publicador">
                            <p class="autor">Anónimo</p>
                            <p class="fecha-publicacion">2017/08/15 18:52</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">7</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/959-220px.jpg 220w, img/959-318px.jpg 318w, img/959-370px.jpg 370w, img/959-675px.jpg 675w, img/959-740px.jpg 740w, img/959-1020px.jpg 1020w, img/959-1250px.jpg 1250w, img/959-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/959-220px.jpg 220w, img/959-370px.jpg 370w, img/959-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/959-220px.jpg 220w, img/959-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/959-1600px.jpg" alt="Ducati 959 Panigale">
                    </picture>
                    <h4 class="titulo-articulo">Ducati 959 Panigale</h4>
                    <p class="descripcion-articulo">
                        Un nuevo motor más potente equipado con embrague antirrebote para liberar su actitud racing. Un diseño perfeccionado con el 
                        característico bastidor monocasco y las suspensiones completamente regulables para garantizar una manejabilidad absoluta. 
                    </p>
                </a>
            </div>
            <button data-id="7" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/david-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">David Serrano Jofra</p>
                            <p class="fecha-publicacion">2017/08/19 18:59</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">2</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/Panigale-220px.jpg 220w, img/Panigale-318px.jpg 318w, img/Panigale-370px.jpg 370w, img/Panigale-675px.jpg 675w, img/Panigale-740px.jpg 740w, img/Panigale-1020px.jpg 1020w, img/Panigale-1250px.jpg 1250w, img/Panigale-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/Panigale-220px.jpg 220w, img/Panigale-370px.jpg 370w, img/Panigale-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/Panigale-220px.jpg 220w, img/Panigale-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/Panigale-1600px.jpg" alt="Ducati 1299 Panigale">
                    </picture>
                    <h4 class="titulo-articulo">Ducati 1299 Panigale R</h4>
                    <p class="descripcion-articulo">
                        Una auténtica conmemoración del legado del legendario bicilíndrico Ducati Superbike. Hemos combinado el chasis monocasco de 
                        aluminio más avanzado con el motor Superquadro más potente para crear la Panigale 1299 R Final Edition.
                    </p>
                </a>
            </div>
            <button data-id="8" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>

        <article class="articulo">
            <div class="ie11">
                <div class="container-publicador">
                    <div class="quien-publica">
                        <img class="avatar" src="img/david-avatar-32px.jpg" alt="avatar">
                        <div class="datos-publicador">
                            <p class="autor">David Serrano Jofra</p>
                            <p class="fecha-publicacion">2017/08/19 18:55</p>
                        </div> 
                    </div>
                    <a class="apartado-comentarios" href="detalle.html#comentarios">
                        <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>
                        <span class="num-comentarios">1</span>
                    </a>
                </div>
                <a class="ir-detalle" href="detalle.html">
                    <picture>
                        <source srcset="img/F4-RR-220px.jpg 220w, img/F4-RR-318px.jpg 318w, img/F4-RR-370px.jpg 370w, img/F4-RR-675px.jpg 675w, img/F4-RR-740px.jpg 740w, img/F4-RR-1020px.jpg 1020w, img/F4-RR-1250px.jpg 1250w, img/F4-RR-1600px.jpg 1600w" media="(max-width: 666px)">
                        <source srcset="img/F4-RR-220px.jpg 220w, img/F4-RR-370px.jpg 370w, img/F4-RR-675px.jpg 675w" media="(max-width: 1023px)">
                        <source srcset="img/F4-RR-220px.jpg 220w, img/F4-RR-370px.jpg 370w" media="(max-width: 1920px)">
                        <img class="foto-articulo" src="img/F4-RR-1600px.jpg" alt="MV Augusta F4 RR">
                    </picture>
                    <h4 class="titulo-articulo">MV Augusta F4 RR</h4>
                    <p class="descripcion-articulo">
                        MV AGUSTA F4. Rebasar los confines de la imaginación. La mejor F4 de la historia, donde la tecnología y el motor alcanzan su máxima expresión.
                    </p>
                </a>
            </div>
            <button data-id="9" class="megusta boton"><i class="fa fa-star-o" aria-hidden="true"></i> Me gusta <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button>
        </article>
    </div>
</section>