<header class="header-titulo-menu-container" id="headTitulo">
    
    <h1><a class="titulo" id="titulo" href="/">MotoCode</a></h1>
    
    <div class="container-interaccion-menu">

        <div class="registros">
            <div class="busqueda-container">
                <label for="busqueda" id="buscar-icono" class="buscar-icono boton-lupa"><i class="fa fa-search fa-2x lupa" aria-hidden="true"></i></label>
                <input type="search" id="busqueda" class="busqueda-input none" placeholder="buscar">
            </div>
        </div>

        <nav class="menu-principal">

            <div class="" id="fueramenu"></div>

            <button class="hamburger hamburger--collapse navigacion_toggle" id="nav-toggle" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <ul id="abrir_cerrar" class="cerrado">
                <li><a class="boton_menu ancla" href="#categoria1">Hi-Sport</a></li>
                <li><a class="boton_menu ancla" href="/detalle.html">Naked</a></li>
                <li><a class="boton_menu ancla" href="/detalle.html">Trail</a></li>
                <li><a class="boton_menu ancla" href="/detalle.html">Custom</a></li>
                <li><a class="boton_menu ancla" href="/detalle.html">Scooter</a></li>
                <div class="reg-login">
                    <li><a class="boton_menu" href="#">Loguearse</a></li>
                    <li><a class="boton_menu" href="#">Regístrate</a></li>
                </div>
            </ul>
        </nav>

    </div>

</header>