<header class="header-titulo-menu-container">
    
    <h1 class="titulo"><a href="/">Título</a></h1>
    
    <div class="container-interaccion-menu">
        <nav class="menu-principal">

            <div class="" id="fueramenu"></div>

            <button class="hamburger hamburger--collapse navigacion_toggle" id="nav-toggle" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>

            <ul id="abrir_cerrar" class="cerrado">
                <li><a class="boton_menu" href="#categoria1">item1</a></li>
                <li><a class="boton_menu" href="#categoria2">item2</a></li>
                <li><a class="boton_menu" href="#categoria3">item3</a></li>
                <li><a class="boton_menu" href="#categoria4">item4</a></li>
                <li><a class="boton_menu" href="#categoria5">item5</a></li>
            </ul>
        </nav>

        <div class="registros">
            <div class="busqueda-container">
                <label for="busqueda" class="buscar-icono">Buscar</label>
                <input type="search" id="busqueda" class="busqueda-input" placeholder="buscar">
            </div>
            
            <ul class="contenedor-loguin">
                <li><a href="">Loguearse</a></li>
                <li><a href="">Regístrate</a></li>
            </ul>
        </div>
    </div>
    

</header>