// reglas generales

h1, h2, h3, h4, h5, h6 {
    font-family: $titulo-tipo;
}

h1 { font-size: $font-size-h1;}
h2 { font-size: $font-size-h2;}
h3 { font-size: $font-size-h3;}
h4 { font-size: $font-size-h4;}
h5 { font-size: $font-size-h5;}
h6 { font-size: $font-size-h6;}
small {font-size: $font-size-small;}

strong { font-weight: 700; }
em { font-style: italic; }

a { 
    text-decoration: none;
    color: $color-negro;

}

body {
    background-color: $color-oscuro;
    font-family: $texto-tipo;
    font-size: $font-size-base;
    max-width: 1300px;
    margin: auto;
}

.oculto {
    display: none;
}

.flex{
    display: flex;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.boton {
    border: 2px solid $color-accento;
    border-radius: 5px;
    height: 50px;
    width: 135px;
    transition: background-color 0.25s linear;
    padding: 0 10px;
    font-size: $font-size-base;
    background-color: lighten($color-principal, 50%);

    &:active, &:hover {
        background-color: lighten($color-principal, 25%); 
        border: 1px solid $color-negro;
        transition: background-color 0.25s linear;
    }
}

.click-seleccionado {
    border: 3px solid $color-principal;
    border-radius: 50px;
    padding: 2px;
}

.avatar {
    border-radius: 50px;
}