// colores
$color-oscuro: #424242;
$color-principal: #F57C00;
$color-principal-claro: #ccc;
$color-accento: $color-principal;
$color-blanco: #ffffff;
$color-negro: #212121;
$color-error: #DD2C00;

//colores texto
$texto-claro: $color-blanco;
$texto-oscuro: $color-negro;

// tipografias
$titulo-tipo: 'Quicksand', sans-serif;
$texto-tipo: 'Ubuntu', sans-serif;

// tamaños tipografias
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

