// colores

$color-oscuro: #424242;
$color-principal: #795548;
$color-principal-claro: #BCAAA4;
$color-accento: #FFA000;
$color-claro: #fff;
$color-blanco: #ffffff;
$color-negro: #212121;
$color-error: #DD2C00;



// tipografias
$titulo-tipo: 'Quicksand', sans-serif;
$texto-tipo: 'Ubuntu', sans-serif;

// tamaños tipografias
$font-size-base: 15px;
$font-size-small: $font-size-base - 5px;
$font-size-large: $font-size-base + 5px;
$font-size-h1: $font-size-base + 15px;
$font-size-h2: $font-size-base + 12px;
$font-size-h3: $font-size-base + 9px;
$font-size-h4: $font-size-base + 6px;
$font-size-h5: $font-size-base + 3px;
$font-size-h6: $font-size-base;

//colores texto

$texto-claro: $color-claro;
$texto-oscuro: #212121;